<% include partials/_header %>

<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/edit/<%= task._id %>" method="post">
            <div class="form-group">
              <p class="font-weight-bold">Proprietaire</p>
              <input class="form-control" type="text" name="Nomdupropriétaire" placeholder="Entrer votre nom et prenom" value="<%= task.Nomdupropriétaire %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">CIN</p>
              <input class="form-control" type="text" name="CIN" placeholder="Entrer votre N° CIN" value="<%= task.CIN %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">NEPH</p>
              <input class="form-control" type="text" name="NEPH" placeholder="Entrer votre N° de permis" value="<%= task.NEPH %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">Marque</p>
              <input class="form-control" type="text" name="Marque" placeholder="Entrer la marque de voiture" value="<%= task.Marque %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">Type</p>
              <input class="form-control" type="text" name="Type" placeholder="Entrer le type de voiture" value="<%= task.Type %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">Genre</p>
              <input class="form-control" type="text" name="Genre" placeholder="Entrer le genre de voiture" value="<%= task.Type %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">Immatriculation</p>
              <input class="form-control" type="text" name="Immatriculation" placeholder="Entrer le matricule" value="<%= task.Immatriculation %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">Type de carburant</p>
              <input class="form-control" type="text" name="Typecarburant" placeholder="Entrer le type de carburant" value="<%= task.Typecarburant %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">Numero de chassis</p>
              <input class="form-control" type="text" name="Numerodechassis" placeholder="Entrer le N° de chassis" value="<%= task.Numerodechassis %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">Nombre de cylindres</p>
              <input class="form-control" type="text" name="Nombredecylindres" placeholder="Entrer le Nombre de cylindres" value="<%= task.Nombredecylindres %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">Puissance fiscal</p>
              <input class="form-control" type="text" name="Puissancefiscal" placeholder="Entrer la puissance fiscal" value="<%= task.Puissancefiscal %>">
            </div>
            <div class="form-group">
              <p class="font-weight-bold">Nombre de place</p>
              <input class="form-control" type="text" name="Nombredeplace" placeholder="Entrer le nombre de place" value="<%= task.Nombredeplace %>">
            </div>



            
            <button class="btn btn-primary" type="submit">
              Update 
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer%>
